#main-menu {
	height: 65px;
	font-size: 0px;
	background-color:#076973;
	box-sizing: border-box;
}

#main-menu-button {
	background-color: #076973;
	border: none;
	height: 100%;
	color: white;
	padding: 20px 54px;
	text-align: center;
	display: inline-block;
	font-family:'Arvo';
	font-size: 16px;
}

#program-button {
	background-color: #999999;
	border: none;
	width: 160px;
	color: white;
	padding: 15px;
	text-align: center;
	display: inline-block;
	font-family:'Arvo';
	font-size: 16px;
}

#program-button:hover {
	background-color: #696969;
}

#main-menu-button:hover {
	background-color: #15808B;
}

.dropdown {
	position: relative;
	display: inline-block;
	height: 100%;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #076973;
	min-width: 158px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
}

.dropdown-content a {
	color: white;
	font-size: 16px;
	padding: 20px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #15808B;
}

.dropdown:hover .dropdown-content {
	display: block;
}