verse {
	display: inline-block;
	padding-top: 45px;
	padding-right: 57px;
	box-sizing: border-box;
	margin-left: auto;
  
	font-size: 14px;
	font-style: italic;
	font-family:'Arvo';
	color:#076973;
	text-align: right;
	line-height: 1.6;
	width: 450px;
}